# Basic Data Exploration

This notebook performs basic exploratory data analysis on the library dataset.

In [23]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Data/dau_library_data.csv',encoding='latin1')

# Display basic information
print("Dataset shape:", df.shape)
print("\nColumns:", list(df.columns))

Dataset shape: (36358, 21)

Columns: ['Acc. Date', 'Acc. No.', 'Title', 'ISBN', 'Author/Editor', 'Ed./Vol.', 'Place & Publisher', 'Year', 'Page(s)', 'Class No./Book No.', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']

C:\Users\tanay\AppData\Local\Temp\ipykernel_25200\2331472601.py:4: DtypeWarning: Columns (12,13,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Data/dau_library_data.csv',encoding='latin1')

In [16]:
# Display first few rows
df.head()

,Acc. Date,Acc. No.,Title,ISBN,Author/Editor,Ed./Vol.,Place & Publisher,Year,Page(s),Class No./Book No.,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,20-01-2017,1,Network design : management and technical pers...,0849334047,"Mann-Rubinson, Teresa C.",NaN,"Boca Raton: CRC Press,",1999.0,405 p.;,004.6 MAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,08-09-2001,2,Multimedia information analysis and retrieval ...,9783540648260,"Ip, Horace H. S.",NaN,"Berlin: Springer,",1998.0,"viii, 264 p.;",004 IPH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08-09-2001,3,"Multimedia systems : delivering, generating, a...",1852332484,"Morris, Tim",NaN,"London: Springer,",2000.0,"xi, 191 p.;",006.7 MOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,05-09-2001,4,Principles of Data Mining and Knowledge Discovery,9783540410669,"Zytkov, Jan. M.",NaN,"New York: Springer-Verlag,",1999.0,593 p.;,006.3 ZYT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09-08-2001,5,Focusing solutions for data mining : analytica...,3540664297,"Reinartz, Thomas",NaN,"New York: Springer,",1999.0,"xiv, 307 p.;",006.3 REI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Basic statistics
df.describe(include='all')

,Acc. Date,Acc. No.,Title,ISBN,Author/Editor,Ed./Vol.,Place & Publisher,Year,Page(s),Class No./Book No.,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
count,36179,36358.00000,36358,36358,36295,5779,36358,36188.000000,36357,36358,...,20,13,13,11,10,9,6,6,2,2
unique,2568,NaN,30900,31644,23198,505,4448,NaN,15645,27016,...,12,9,9,8,7,6,4,4,2,2
top,31-03-2023,NaN,Great books of the Western world,Sahitya,"Gandhi, M. K.",2nd ed.,"New Delhi: Prentice Hall of India,",NaN,;,081 ADL,...,Prakashan,Monash,University,and,Community,Informatics,Research,"Network,",(Sri,"Lanka),"
freq,366,NaN,61,63,82,2413,1288,NaN,114,61,...,4,2,2,2,2,2,2,2,1,1
mean,NaN,18179.50000,NaN,NaN,NaN,NaN,NaN,2004.127860,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,10495.79488,NaN,NaN,NaN,NaN,NaN,18.916967,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,9090.25000,NaN,NaN,NaN,NaN,NaN,2001.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,18179.50000,NaN,NaN,NaN,NaN,NaN,2004.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,27268.75000,NaN,NaN,NaN,NaN,NaN,2009.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,36358.00000,NaN,NaN,NaN,NaN,NaN,2990.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Check for missing values
df.isnull().sum()

Acc. Date               179
Acc. No.                  0
Title                     0
ISBN                      0
Author/Editor            63
Ed./Vol.              30579
Place & Publisher         0
Year                    170
Page(s)                   1
Class No./Book No.        0
Unnamed: 10           36335
Unnamed: 11           36338
Unnamed: 12           36345
Unnamed: 13           36345
Unnamed: 14           36347
Unnamed: 15           36348
Unnamed: 16           36349
Unnamed: 17           36352
Unnamed: 18           36352
Unnamed: 19           36356
Unnamed: 20           36356
dtype: int64

In [24]:
df = df.drop(columns=["Unnamed: 10", "Unnamed: 11", "Unnamed: 12", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16", "Unnamed: 17", "Unnamed: 18", "Unnamed: 19", "Unnamed: 20"],inplace=True)